<%- include('navbar'); -%>
<%- include('header'); -%>

<style>
    #asscontent{
        width: 90%;
        height: 80vh;
        padding: 10px;
        overflow-x: scroll;
        overflow-y: scroll;
        border: 1px solid rgb(63, 63, 63);
        border-radius: 5px;
        margin-left: 5%;
    }

    .ass-container{
        padding: 10px;
        
    }
</style>

 <section id="asscontent">
        <div class="ass-container">
                <ol style="padding: 5px;">
                     <li>Employee Management</li>
                     <li>Bus Management System</li>
                     <li>Courier Management System</li>
                     <li>Insurance Management System</li>
                     <li>Inventary Management</li>
                     <li>Dairy Management</li>
                     <li>Pharmacy Management</li>
                     <li>Human Resource Management</li>
                </ol>
        </div>
 </section>

<%- include('footer'); -%>