<%- include('navbar'); -%>
<%- include('header'); -%>
<style>
    #asscontent{
        width: 90%;
        height: 80vh;
        padding: 10px;
        overflow-x: scroll;
        overflow-y: scroll;
        border: 1px solid rgb(63, 63, 63);
        border-radius: 5px;
        margin-left: 5%;
    }

    .ass-container{
        padding: 10px;
        
    }
</style>

 <section id="asscontent">
    <h1 style="float: left;">Html, Css, javaScript</h1><br>
        <div class="ass-container">
            
                <ol style="padding: 5px;">
                    <li> <a target="_blank" href="https://www.frontendmentor.io/">Front-End Mentor Challenges</a></li>
                    <li>javaScript Clock</li> 
                    <li>Animating tower</li>
                    <li>Drum player</li>
                    <li>Calculator</li>
                    <li>Music Player</li>
                    <li>to-Do List</li>
                    <li>Navbar -responsive</li>
                    <li>Weather-API</li>
                    <li>News App</li>
                    <li>Random quote generator</li>
                    <li>Vowel counter</li>
                </ol>
        </div>
 </section>

<%- include('footer'); -%>