<%- include('navbar'); -%>
<%- include('header'); -%>

<style>
    #ccontent{
        width: 90%;
        height: 80vh;
        padding: 10px;
        overflow-x: scroll;
        overflow-y: scroll;
        border: 1px solid rgb(63, 63, 63);
        border-radius: 5px;
        margin-left: 5%;
    }

    .c-container{
        padding: 10px;
        
    }

    .card{
        width: 90%;
        height: 550px;
        background: rgb(146, 146, 146);
        border-radius: 7px;
        border: none;
        overflow-x: scroll;
        overflow-y: scroll;
        margin-left: 5%;
        margin-bottom: 30px;
    }

    .card::-webkit-scrollbar{
        display: none;
    }

    @media screen and (max-width:750px){
        .card{
            width: 98%;
            margin-left: 1%;
            height: 90vhpx;
        }
    }
</style>

<section id="ccontent">
    <div class="c-container">
       
         <div class="card">
                <h1> Intorductory programms</h1>
            <embed src="../doc/1c.pdf"  width="100%" height="100%" type="application/pdf">
         </div>
         <div class="card">
            <h1> Intermediateries programms</h1>
            <embed src="../doc/2c.pdf"  width="100%" height="100%" type="application/pdf">
        </div>
        <div class="card">
            <h1>Arrays</h1>
            <embed src="../doc/3c.pdf"  width="100%" height="100%" type="application/pdf">
        </div>

        <div class="card">
            <h1>previous year questions</h1>
            <embed src="../doc/cp.pdf"  width="100%" height="100%" type="application/pdf">
        </div>
    </div>
</section>

<%- include('footer'); -%>