<%- include('navbar'); -%>
<%- include('header'); -%>

 
<style>
    #cmcontent{
        width: 90%;
        height: 80vh;
        padding: 10px;
        overflow-x: scroll;
        overflow-y: scroll;
        border: 1px solid rgb(63, 63, 63);
        border-radius: 5px;
        margin-left: 5%;
    }

    .cm-container{
        padding: 10px;
        
    }

    .card{
        width: 90%;
        height: 350px;
        background: rgb(146, 146, 146);
        border-radius: 7px;
        border: none;
        overflow-x: scroll;
        overflow-y: scroll;
        margin-left: 5%;
    }

    .card::-webkit-scrollbar{
        display: none;
    }

    @media screen and (max-width:750px){
        .card{
            width: 98%;
            margin-left: 1%;
            height: 250px;
        }
    }
</style>

<section id="cmcontent">
    <div class="cm-container">
         <div class="card">
            <script src="//onlinegdb.com/embed/js/DGOWEZyYF?theme=undefined"></script>
         </div>
    </div>
</section>


<%- include('footer'); -%>