<div class="footer">
    <p>&copy; 2022 Prashant Kumar</p>
  </div>
</div>
 
<style>
    .footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-align: center !important;
        position: absolute;
        bottom: 0;
    }
</style>
</body>
</html>