<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="apnacollege connects you to the local community of students.">
    <meta name="description" content="It is free for all to share your ideas, get your assignment ideas, your problem being solved.">
    <meta name="description" content="Developed by Prashant a student of Langat Singh college">
    <script src="https://kit.fontawesome.com/ed19d79cbb.js" crossorigin="anonymous"></script>
   
      <title>apnacollege</title>
      <link rel = "icon" href = 
"./icon.png" 
        type = "image/x-icon">
</head>
<body>
    
    <nav id='navbar' class='navbar'>
        <a style="font-family: cursive;" id='logo' href="/">apnacollege</a>
        <div id='right'>
         <a href="/">home</a>
         <a href="/notes">notes</a>
         <a href="/assignment">assignment</a>
         <a href="/carrier">carrier</a>
         <a href="/community">community</a>

        </div>
        <a class='icon' id='icon' onclick='myfunction()' href="javascript:void(0);">  <i class="fa-solid fa-bars-staggered"></i></a>
     </nav>
  