<%- include('navbar'); -%>
<%- include('header'); -%>
<style>
    #sec-main{
        width: 100%;
        min-height: 80vh;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .main_title{
        width: 60%;
        min-height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
 <section id="sec-main">
    <iframe src="https://giphy.com/embed/s9SNCq4xh0O50eyIjk" width="350" height="350" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/UNICEF-education-unicef-worldchildrensday-s9SNCq4xh0O50eyIjk"></a></p>
     <div class="main_title">
        <h1>welcome to Student community of <br> <q>Langat Singh College</q></h1>

     </div>
  </section>

<%- include('footer'); -%>